<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Node Todo App</title>

    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    
     <link rel="stylesheet" href="/assets/style.css">
    

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.3/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-default">
      <a class="navbar-brand" href="#">Node Todo App</a>
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="/">Home</a>
        </li>
        <li>
            <a href="/todo">todo</a>
        </li>
        <li>
          <a href="#">contact</a>
        </li>
      </ul>
    </nav>

    
    
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-body">
                <form>
                    <div class="form-group">
                      <label class="sr-only" for="">Task</label>
                      <input type="text" class="form-control" id="" name="task" placeholder="Task text" style="display: inline ; width : 90%">
                      <button type="submit" class="btn btn-success" style="display: inline">Add</button>
                    </div>         
                    
                  </form>
            </div>
          </div>
          
          <div class="panel panel-success">
              <div class="panel-heading">
                <h3 class="panel-title">items task</h3>
              </div>
              <div class="panel-body">
                <ul class="list-group">
                  <% for(var i=0; i<todo.length; i++){%>
                  <li class="list-group-item "><%= todo[i].item %> 
                  <button type="button" class="btn btn-success">done</button>
                  <button type="button" class="btn btn-danger"> delete</button>
                  </li>
                 <% } %>
                </ul>
              </div>
          </div>
          
    </div>
       
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="/assets/posthandler.js"></script>



  </body>
</html>
